* {
    margin: 0;
    padding: 0;
  }

  body {
    width: 100%;
    height: 100%;
    /* background-color: #D2CEEA; */
  }

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2em 1em;
    font-family: 'Hind Guntur', sans-serif;
    /* font-family: 'Hind', sans-serif;
  font-family: 'Pilcrow Rounded', sans-serif; */

}

.logo {
    color:#00B4D8;
}
.logo>span{
    color:#1E0B94;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 2em;
    color: #353434;
    align-items: center;
}
.search-bar{
    border: 1px solid grey;
    display: flex;
    align-items: center;
    padding: 0.5em;
    width: 300px;
    justify-content: space-between;
    border-radius: 5px;;
    gap: 2px;

}
input{
    border: none;
    width: 100%;
    outline: none;
    
}
li{
    padding: 0.2em;
    border-width: 0 0 6px 0 ;
    border-style:solid ;
    border-color:white;
}
li:hover{
    border-color: #4434A6;
    /* padding-bottom: 0.1em; */
    cursor: pointer;
    
}
nav .get-started{
    padding: 0.3em 1.5em;
    color: #FFFFFF;
    background: #4434A6;
    border-radius: 12px;
}

  header{
position: absolute;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
height: 58px;
left: 100px;
right: 100px;
top: 160px;
font-family: 'Hind';
font-style: normal;
font-weight: 600;
font-size: 3em;
color:#4334a6;
  }
  .httpBearer{
display: flex;
flex-direction: column;
position: absolute;
height: 170px;
margin-left: 122px;
margin-right: 122px;
top: 246px;
font-family: 'Hind';
font-style: normal;
font-weight: 500;
color: #0C0B0B;
  }

  h3{
    font-size: 36px;
  }

  .documentation{
display: flex;
flex-direction: column;
align-items: center;
position: absolute;
width: 847px;
height: 66px;
left: 122px;
top: 432px;
margin-bottom: 50px;
font-family: 'Hind';
font-style: normal;
font-weight: 500;
  }
p{
  margin-top: 16px ;
}
  .buttons{
    position: absolute;
    margin-top: 730px;
    font-family: 'Hind';
    font-style: normal;
    font-weight: 400;
    left: 122px;
  }

  .download{
padding: 12px 16px 12px 16px;
width: 160px;
background: #4434A6;
border-radius: 12px;
margin-right: 20px;
color: white;
border: none;
  }

  .viewExample{
width: 160px;
justify-content: center;
align-items: center;
border-radius: 12px;
border-color: #00B4D8;
padding: 12px 16px 12px 16px;
background-color: white;
color: #00B4D8;
  }

  .icons{
    font-family: 'Hind';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 64px;
  }

  #likes{
    position: absolute;
    top: 785px;
    left: 873px;
  }

  #comments{
    position: absolute;
    top: 785px;
    margin-left: 979px;
    margin-right: 141px;
  }

  #downloads{
    position: absolute;
    top: 785px;
    left: 1125px;
  }

  .iconTxt{
    font-size: 16px;
  }

  